PORT=60798
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=
DRIVE_DISK=local

# If you're deploying to Heroku.
# DATABASE_URL=

# Postgres configuration.
PG_HOST=
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DB_NAME=xena-domena

# CORS configuration.
# Comma separated list of hosts.
CORS_POLICY_ALLOWED_ORIGINS=http://127.0.0.1:3000