package main

// RENAME INTO: env.go

// Gateway configuration.

// Port on which the server runs on.
var port string = "60606"

var atilaHost string = "http://127.0.0.1:60666"
var domenaHost string = "http://127.0.0.1:60798"
